<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let pokemon of data" (click)="openDetalhe(pokemon.id)">
      <ion-label>
        <h2>{{ pokemon.name }}</h2>
        <!-- <p>{{ pokemon.id }}</p> -->
      </ion-label>
      <!-- <ion-note slot="end" color="primary">{{ message.date | date: 'short' }}</ion-note> -->
    </ion-item>
  </ion-list>
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</ion-content>
